body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: center;
    color: aliceblue;
    background-image: url('https://assets.vogue.com/photos/64f74083b1a282ee4e251e12/master/w_2240,c_limit/GettyImages-1132328470.jpg');
    background-size: 100%;
    font-size: clamp(0.625rem, -3.6875rem + 8.9844vw, 1.2625rem);
}

#wrapper {
    margin: 0 auto;
    width: 50%;
    height: 60%;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.5);
}

[id^='row'] {
    display: flex;
    margin: auto;
    width: 80%;
} 
 
[class$='data'] {
    flex-shrink: 0;
    flex: 1 1 auto;
    padding-right: 10%;
    padding: 0.5%;
}